<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>What ya lookin' for?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
    <link rel="stylesheet" href="/assets/404.css">
  </head>
  <body>
    <div class="wrap">
      <div class="content">
        <p>
          I couldn't find what ya lookin' for.
          <br />
          But I found something better!
        </p>
        <img src="/assets/404.gif" />
      </div>
    </div>
  </body>
</html>
