@import "../shared/vars.css";

.common {
  composes: border from '../shared/style.css';
  display: flex;
  flex: 1;
  margin: 2px;
  transition: background-color 0.5s;
}

.enabled {
  composes: common;
  background-color: rgba(255, 255, 255, 0.2);
}

.disabled {
  composes: common;
  background-color: $turquoise-alpha;
}

.image {
  margin: auto;
  animation: pulse 0.3s ease;
  width: 80%;
  height: 80%
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
